
<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
<div class="container-fluid" style="background-color:grey;width:1298.5px;height:612.5px">
    <div class="container">
        <div style="padding-top:60px;">
        <h3 style="color:blue;font-family: 'Acme', sans-serif;">Degree:</h3><p style="font-family: 'Dancing Script', cursive;font-size: 1.5em"> Graduated from the JNTUA</p>
        <h3 style="color:blue;font-family: 'Acme', sans-serif;">Intermediate:</h3><p style="font-family: 'Dancing Script', cursive;font-size: 1.5em"> Completed Intermediate from the chaitanya jr college</p>
        <h3 style="color:blue;font-family: 'Acme', sans-serif;">SSC:</h3><p style="font-family: 'Dancing Script', cursive;font-size: 1.5em"> Completed schooling from the sai baba school</p>
        </div>
    </div>
</div>