<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
<div class="container-fluid" style="background-color:grey;width:1298.5px;height:612.5px">
<div class="container" style="padding-top: 100px;">
    <h1 style="color:blue;font-family: 'Acme', sans-serif;">Hobbies</h1>
    <p style="font-family: 'Dancing Script', cursive;font-size: 2em">Drawing Arts</p>
    <p style="font-family: 'Dancing Script', cursive;font-size: 2em">Watching Television </p>
</div>
</div>

