
 @import "bootstrap";

 @import "font-awesome-sprockets";
 @import "font-awesome";
 
 .div1{
    background-image:url('Bgbook.jpeg');
    background-repeat: no-repeat;
   /*   height: 1000px;
     width: 1000px; */
  }  